/* Programme réalisé par Cyrille Mauduit - 10/08/2018 (évaluation P2 Git et GitHub - OpenClassRoom) */

body
{
	width: 98.5%;
	height: 97.5%;
	background: rgb(150,220,255);
	position: absolute;
}

img
{
	width: 100%;
	height: 100%;
}