/* Programme réalisé par Cyrille Mauduit - 10/08/2018 (évaluation P2 Git et GitHub - OpenClassRoom) */

body
{
	width: auto;
	height: auto;
	background: rgb(150,220,255);

	display: flex;
	justify-content: center;
	margin-top: 10%;
}